body{

    background-image: url(../assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    @media(min-width: 750px){
        background-image: url(../assets/destination/background-destination-tablet.jpg);
    }
    @media(min-width: 1024px){
        background-image: url(../assets/destination/background-destination-desktop.jpg);
    }
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media(min-width: 760px) {
        &__nav{
            padding: 2.5rem 0 2.5rem 2.5rem !important;
        }
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem 2rem;

        
        &Mobile{
            z-index: 3;
            

            span.hamburger{
                display: block;
                background-color: var(--clr-acc);
                width: 25px;
                height: 3px;
                transform-origin: 0px 2.5px;
                transition: all 300ms ease-in-out;
            }
            & > span{
                margin-bottom: 6px;
            }
            &.open{
                & > span:nth-child(1){
                    transform: rotate(45deg);
                }
                & > span:nth-child(2){
                    opacity: 0;
                }
                & > span:nth-child(3){
                    transform: rotate(-45deg);
                }
            }
            &__links{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                height: 100vh;
                width: 60vw;
                margin: 0 auto;
                background-color: rgba(11 ,13 ,23, 0.4);
                backdrop-filter: blur(40px);
                padding: 9.5rem 2rem;
                z-index: 2;
                font-weight: 900;

                a{
                    text-transform: uppercase;
                }
            }

        }
        
        &Tablet{
            display: flex;
            gap: 2.5rem;
            background-color: rgba(39, 40, 43, 0.4);
            backdrop-filter: blur(20px);
            padding: 0 12vw 0 7vw;
            text-transform: uppercase;
            a{
                padding:  2rem 0;
            }
            & > a:nth-child(2){
                border-bottom: solid 3px var(--clr-white);
            }
        }
        &Desktop{
            display: flex;
            gap: 2.5rem;
            background-color: rgba(44, 49, 73, 0.4);
            backdrop-filter: blur(20px);
            padding: 0 15vw 0 10vw;
            text-transform: uppercase;
            a{
                padding:  2rem 0;
            }
            & > a:nth-child(2){
                border-bottom: solid 3px var(--clr-white);
            }
            & > a:hover{
                border-bottom: 3px solid grey;
            }
            &::after{
                content: '';
                position: absolute;
                background-color: grey;
                top: 50%;
                right: 95%;
                height: 1px;
                width: 70%;
                z-index: 9;
            }
        }
    }

    &__content{
        padding-bottom: 7.5vw;
        @media (min-width: 750px) {
            gap: 2rem;
            padding-bottom: 7.5vw;
        }
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            padding: 12.5vw;
            padding-top: 0vw;
            padding-bottom: 10vw;
        }
    }
    
    &__text{
        @media (min-width: 750px) {
            max-width: 50ch;
            margin: 0 auto;
            transform: scale(1.3);
        }
        @media (min-width: 1024px) {
            align-items: flex-start;
            max-width: 50ch;
            margin: initial;
            transform: scale(1.3);
        }
        .heading5{
            color: var(--clr-white);
        }
        .em{
            color: grey;
        }
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

}

.dmain{
    transition: all ease-in-out 300ms;
    &__img{
        &__dest{
            display: flex;
            width: 50vw;
            margin: 0 auto;
            padding: 2rem 0;
            @media(min-width: 750px){
                width: 30vw;
                max-width: 600px;
                padding: 1.5rem 0 3rem 0;
            }
            @media(min-width: 1024px){
                width: 20vw;
            }
            
        }
    }
    &__text{
        @media(min-width: 1024px){
            padding-right: 15vw;
        }
    }
    &__options{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: center;
        p{
            text-transform: uppercase;
            padding: 1rem 0;
            cursor: pointer;
        }
        @media (min-width: 1024px) {
            padding: 0 0 0 2vw;
            justify-content: start;
        }
    }
    &__title{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        grid-area: 'tit';
        padding: 3rem;
        
        @media(min-width: 750px){
            padding: 3rem 20vw;
            display: grid;
            text-align: center !important;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 'tit tit' 
            'desc desc'
            'dist time';
            
            .destName{
                grid-area: tit;
            }
            .desc{
                grid-area: desc;
                text-align: center !important;
            }
            .dist{
                grid-area: dist;
            }
            .time{
                grid-area: time;
            }
        }
        @media(min-width: 1024px){
            padding: 3rem 2vw;
            .destName{
                text-align: left;
            }
            .desc{
                text-align: left !important;
            }
            .distance{
                align-items: flex-start !important;
            }
            .time{
                align-items: flex-start !important;
            }
        }
    }

    @media(min-width: 1024px){
        padding: 0 2vw;
        display: grid;
        text-align: left !important;
        grid-template-columns: 1fr 1.2fr;
        grid-template-areas: 'imgs texts';
        align-items: center;
    }
}

.option{
    color: var(--clr-acc);

}
.option:hover{
    border-bottom: 3px solid grey;
}
.option.open{
    border-bottom: 3px solid var(--clr-white);
    color: var(--clr-white);
    
}
