// ANIMATION
@keyframes show{
    0%{
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transform: translateY(-100%);
    }
    2%{
        position: relative;
        opacity: 0;
        visibility: hidden;
        transform: scale(1);
        transform: translateY(0%);
    }
    
    100%{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transform: translateY(0%);
    }
}
@keyframes hide{
    0%{
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        transform: translateY(0%);
    }
    2%{
            position: relative;
            opacity: 0;
    }
    100%{
        position: absolute;
        visibility: none;
        opacity: 0;
        transform: scale(0);
        transform: translateY(0%);
        z-index: -9;
    }

}
@keyframes showMenu{
    0%{
        display: block;
        opacity: none;
        transform: translateX(100%);
    }
    100%{
        display: block;
        opacity: 1;
        transform: translateX(0%);
        z-index: 2;
    }
}
@keyframes hideMenu{
    0%{
        display: block;
        opacity: 1;
        transform: translateX(0%);

    }
    98%{
        display: block;
        opacity: 0;
        transform: translateX(98%);

    }
    100%{
        display: none;
        opacity: 0;
        transform: translateX(0%);
        z-index: -3;
    }
}
@keyframes beam{
    0%{
        outline: 0;
    }
    50%{
        box-shadow: 0px 0px 1px 35px rgba(219, 209, 209, 0.25);
    }
    100%{

    }
}
/* DISPLAY OPTIONS */

    @media screen and (max-width:  426px) {
        .hideMobile{
            display: none;
        }
    }
    @media(min-width:  550px) and (max-width: 1023px) {
        .hideTablet{
            display: none;
        }
    }
    
    @media(min-width:  1024px) {
        .hideDesktop{
            display: none;
        }
    }

    .hidden{
        display: none;
    }
    .hideMenu{
        animation: hideMenu 300ms ease-in-out forwards;
    }
    .showMenu{
        animation: showMenu 300ms ease-in-out forwards;
    }
    .hide{
        animation: hide 300ms linear forwards;
        height: 0 !important;
    }
    .show{
        animation: show 300ms linear forwards;
        height: initial;
    }


/* TEXTS */ 
.heading1{
    font-family:  var(--ff-main);
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
}
.heading2{
    font-family:var(--ff-main);
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 400;
}
.heading3{
    font-family:var(--ff-main);
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 400;
}
.heading4{
    font-family: var(--ff-main);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 400;
}
.heading5{
    font-family: var(--ff-sec);
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 3.5px;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-acc);
    transform: scale(0.9);
}

.sub-heading1{
    font-family:var(--ff-main);
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}
.sub-heading2{
    font-family: var(--ff-sec);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2.35;
}
.nav-text{
    font-family: var(--ff-sec);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.body-copy{
    font-family: var(--ff-ter);
    font-weight: lighter;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    color: var(--clr-acc);

    @media(min-width:1024px){
        text-align: left;
    }
}

// OPTIONS
.whiteBack{
    background-color: var(--clr-white);
}