
body{

    background-image: url(../assets/technology/background-technology-mobile.jpg);
    background-size: cover;

    @media(max-width: 750px){
        max-width: 100vw;
    }
    @media(min-width: 750px){
        background-image: url(../assets/technology/background-technology-tablet.jpg);
    }
    @media(min-width: 1024px){
        background-image: url(../assets/technology/background-technology-desktop.jpg);
    }
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media(min-width: 760px) {
        &__nav{
            padding: 2.5rem 0 2.5rem 2.5rem !important;
        }
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem 2rem;

        
        &Mobile{
            z-index: 3;
            span.hamburger{
                display: block;
                background-color: var(--clr-acc);
                width: 25px;
                height: 3px;
                transform-origin: 0px 2.5px;
                transition: all 300ms ease-in-out;
            }
            & > span{
                margin-bottom: 6px;
            }
            &.open{
                & > span:nth-child(1){
                    transform: rotate(45deg);
                }
                & > span:nth-child(2){
                    opacity: 0;
                }
                & > span:nth-child(3){
                    transform: rotate(-45deg);
                }
            }
            &__links{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                height: 100vh;
                width: 60vw;
                margin: 0 auto;
                background-color: rgba(11 ,13 ,23, 0.4);
                backdrop-filter: blur(40px);
                padding: 9.5rem 2rem;
                z-index: 2;
                font-weight: 900;

                a{
                    text-transform: uppercase;
                }
            }

        }
        
        &Tablet{
            display: flex;
            gap: 2.5rem;
            background-color: rgba(39, 40, 43, 0.4);
            backdrop-filter: blur(20px);
            padding: 0 12vw 0 7vw;
            text-transform: uppercase;
            a{
                padding:  2rem 0;
            }
            & > a:nth-child(4){
                border-bottom: solid 3px var(--clr-white);
            }
        }
        &Desktop{
            display: flex;
            gap: 2.5rem;
            background-color: rgba(44, 49, 73, 0.4);
            backdrop-filter: blur(20px);
            padding: 0 15vw 0 10vw;
            text-transform: uppercase;
            a{
                padding:  2rem 0;
            }
            & > a:nth-child(4){
                border-bottom: solid 3px var(--clr-white);
            }
            & > a:hover{
                border-bottom: 3px solid grey;
            }
            &::after{
                content: '';
                position: absolute;
                background-color: grey;
                top: 50%;
                right: 95%;
                height: 1px;
                width: 70%;
                z-index: 9;
            }
        }
    }

    &__content{
        padding-bottom: 7.5vw;
        @media (min-width: 750px) {
            gap: 2rem;
            padding-bottom: 7.5vw;
        }
        @media (min-width: 1024px) {
            display: flex;
            flex-direction: row;
            padding: 12.5vw;
            padding-top: 0vw;
            padding-bottom: 0vw;
        }
    }
    
    &__text{
        .heading5{
            color: var(--clr-white);
        }
        .em{
            color: grey;
        }
        @media (min-width: 750px) {
            max-width: 50ch;
            margin: 0 auto;
            transform: scale(1.3);
        }
        @media (min-width: 1024px) {
            align-items: flex-start;
            max-width: 50ch;
            margin: initial;
            transform: scale(1.3);
        }
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

}

.tmain{
    &__img{
        grid-area: images;
        img{
            width: 100vw;

            @media(min-width: 1024px){
                width: 35vw;
                max-width: 600px;
            }
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        grid-area: texts;


        @media(min-width: 750px){
            display: flex;
            flex-direction: column;
            .body-copy{
                font-size: 1rem ;
                max-width: 50ch;
            }
        }
        @media(min-width: 1024px){
            flex-direction: row;
            padding-right: 0vw;
            align-items: center;
            justify-content: start;
            gap: 7.5vw;
            .body-copy{
                font-size: 1rem ;
                max-width: 45ch;
                height: 13vh;
                place-self: baseline;
            }
            .sub-heading1{
                place-self: baseline;
            }
            .heading4{
                place-self: baseline;
                font-size: 3rem;
            }
        }
    }
    &__options{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2.5rem 0;

        @media (min-width: 1024px) {
            flex-direction: column;
            transform: scale(1.3);
            justify-content: start;
            grid-area: options;
        }
    }
    &__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    
        @media(min-width: 750px){
            min-height: 25vh;
        }
        @media(min-width: 1024px){
            padding: 3rem 0vw;
            min-height: 55vh;
        }
    }

   

    //media queries for tmain
    @media(min-width: 750px){
        display: flex;
        flex-direction: column;
    }
    @media(min-width: 1024px){
        padding: 0 0vw 0 10vw;
        display: grid;
        text-align: left !important;
        grid-template-columns: 2fr 1.2fr;
        grid-template-areas:  ' texts images';
        align-items: center;
        .nav-text{
            place-self: baseline;
        }
    }
}


 // making changes to general classes
 .option{
    display: inline-flex;
    background-color: transparent;
    border: solid 0.5px var(--clr-white);
    font-family: var(--ff-main);
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.whiteCircle{
    background-color: var(--clr-white);
    color: var(--clr-dark);
}
.sub-heading1{
    @media (max-width: 760px) {
        transform: scale(0.7);
    }
}
.techName{
    text-align: left;
}
.body-copy{
    @media(max-width:750px){
        padding: 0 2rem;
    }
}


