@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  color: var(--clr-white);
  font-family: 'Barlow Condensed';
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

:root {
  /* COLORS */
  --clr-dark: rgb(11, 13, 23);
  --clr-acc:  rgb(208, 214, 249);
  --clr-white: rgb(255, 255, 255);
  /* FONTS */
  --ff-main: 'Bellefair';
  --ff-sec: 'Barlow Condensed';
  --ff-ter: 'Barlow';
  /* SCREEN SIZES */
}

@-webkit-keyframes show {
  0% {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes show {
  0% {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes showMenu {
  0% {
    display: block;
    opacity: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 2;
  }
}

@keyframes showMenu {
  0% {
    display: block;
    opacity: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 2;
  }
}

@-webkit-keyframes hideMenu {
  0% {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  98% {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(98%);
            transform: translateX(98%);
  }
  100% {
    display: none;
    opacity: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: -3;
  }
}

@keyframes hideMenu {
  0% {
    display: block;
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  98% {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(98%);
            transform: translateX(98%);
  }
  100% {
    display: none;
    opacity: 0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: -3;
  }
}

/* DISPLAY OPTIONS */
@media screen and (max-width: 426px) {
  .hideMobile {
    display: none;
  }
}

@media (min-width: 550px) and (max-width: 1024px) {
  .hideTablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hideDesktop {
    display: none;
  }
}

.hidden {
  display: none;
}

.hideMenu {
  -webkit-animation: hideMenu 300ms ease-in-out forwards;
          animation: hideMenu 300ms ease-in-out forwards;
}

.showMenu {
  -webkit-animation: showMenu 300ms ease-in-out forwards;
          animation: showMenu 300ms ease-in-out forwards;
}

.hide {
  -webkit-animation: hide 300ms ease-in-out forwards;
          animation: hide 300ms ease-in-out forwards;
}

.show {
  -webkit-animation: show 300ms 250ms ease-in-out forwards;
          animation: show 300ms 250ms ease-in-out forwards;
}

/* TEXTS */
.heading1 {
  font-family: var(--ff-main);
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading2 {
  font-family: var(--ff-main);
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading3 {
  font-family: var(--ff-main);
  font-size: 56px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading4 {
  font-family: var(--ff-main);
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
}

.heading5 {
  font-family: var(--ff-sec);
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-acc);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.sub-heading1 {
  font-family: var(--ff-main);
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.sub-heading2 {
  font-family: var(--ff-sec);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.35;
}

.nav-text {
  font-family: var(--ff-sec);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.body-copy {
  font-family: var(--ff-ter);
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
  line-height: 2rem;
  color: var(--clr-acc);
}

@media (min-width: 1024px) {
  .body-copy {
    text-align: left;
  }
}

.numeros {
  font-family: var(--ff-ter);
  font-weight: 900;
  font-size: 15px;
  text-align: left;
  margin-right: 0.5rem;
  line-height: 2rem;
}

body {
  background-color: var(--clr-dark);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 760px) {
  .header__nav {
    padding: 2.5rem 0 2.5rem 2.5rem !important;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.5rem;
}

.header__navMobile {
  z-index: 3;
}

.header__navMobile span.hamburger {
  display: block;
  background-color: var(--clr-acc);
  width: 25px;
  height: 3px;
  -webkit-transform-origin: 0px 2.5px;
          transform-origin: 0px 2.5px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__navMobile > span {
  margin-bottom: 6px;
}

.header__navMobile.open > span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__navMobile.open > span:nth-child(2) {
  opacity: 0;
}

.header__navMobile.open > span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__navMobile__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  height: 125vh;
  width: 60vw;
  margin: 0 auto;
  background-color: rgba(11, 13, 23, 0.4);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  padding: 9.5rem 2rem;
  z-index: 2;
  font-weight: 900;
}

.header__navMobile__links a {
  text-transform: uppercase;
}

.header__navTablet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  background-color: rgba(39, 40, 43, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 0 12vw 0 7vw;
  text-transform: uppercase;
}

.header__navTablet a {
  padding: 2rem 0;
}

.header__navTablet > a:nth-child(2) {
  border-bottom: solid 3px var(--clr-white);
}

.header__navDesktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  background-color: rgba(38, 41, 58, 0.4);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 0 15vw 0 10vw;
  text-transform: uppercase;
}

.header__navDesktop a {
  padding: 2rem 0;
}

.header__navDesktop > a:nth-child(2) {
  border-bottom: solid 3px var(--clr-white);
}

@media (min-width: 750px) {
  .header__content {
    gap: 2rem;
    margin-top: 2rem;
    padding: 12.5vw;
    padding-top: 7.5vw;
    padding-bottom: 7.5vw;
  }
}

@media (min-width: 1024px) {
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 12.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 750px) {
  .header__text {
    max-width: 50ch;
    margin: 0 auto;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@media (min-width: 1024px) {
  .header__text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 50ch;
    margin: initial;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.header__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: var(--clr-white);
  color: var(--clr-dark);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  font-size: 1.2rem !important;
  margin: 2rem auto;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__cta:hover {
  -webkit-box-shadow: 0px 0px 1px 35px rgba(235, 229, 229, 0.25);
          box-shadow: 0px 0px 1px 35px rgba(235, 229, 229, 0.25);
}

@media (min-width: 750px) {
  .header__cta {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    margin-top: 10rem;
  }
}

@media (min-width: 1024px) {
  .header__cta {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    margin: 0;
  }
}

.dmain {
  background-color: var(--clr-dark);
}

.dmain__img__dest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  margin: 0 auto;
  padding: 2rem 0;
}

.dmain__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dmain__options p {
  text-transform: uppercase;
  padding: 1rem 0;
  cursor: pointer;
}

.dmain__title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.option.open {
  border-bottom: 1px solid var(--clr-white);
  display: initial;
}

.name-Mars,
.name-Europa,
.name-Titan,
.img-Mars,
.img-Europa,
.img-Titan,
.name-Mars,
.name-Europa,
.name-Titan,
.desc-Mars,
.desc-Europa,
.desc-Titan,
.distance-Mars,
.distance-Europa,
.distance-Titan,
.time-Mars,
.time-Europa,
.time-Titan {
  display: none !important;
}
/*# sourceMappingURL=moon.css.map */